/*============ STYLE FONT ============*/

@font-face {
	font-family: Dyno_Regular;
	src: url(../font/Dyno_Regular.ttf);
	font-family: Cicle_Fina;
	src: url(../font/Cicle_Fina.ttf);
}

/*============ STYLE GENERAL ============*/

* {
	font-family: Cicle_Fina;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Dyno_Regular;
}

html {
	overflow-x: hidden;
	height: 100%;
}

header {
	margin-top: 0%;
	padding: 15px;
	margin-bottom: 0px;
}

header>h1 {
	text-align: center;
}

body {
	height: 100%;
	padding-bottom: 50px;
}

li>a {
	color:  #B94503;
}

li>a:hover {
	color:  #333;
	text-decoration: none;
}

.nav>li>a {
	font-size: 20px;
}

.nav-stacked>li>a {
	font-size: 20px;
}

.nav-stacked>li>a:hover {
	background-color: #F7AF3E;
}

p {
	font-size: 18px;
}

label {
	font-size: 22px;
}

/*============ STYLE CLASS ============*/

.histoire>p {
	text-indent: 2em;
	margin: 1em;
}

.barre_menu {
	margin-top: 0px;
	font-size: 24px;
	display: flex;
	justify-content: center;
}

.histoire {
	padding: 5px;
	border-radius: 6px;
	color: white;
}

.partie {
	margin: 10px;
}

.transit{
    background:url("../images/transition.png");
    background-repeat: no-repeat;
    height:135px;
    line-height:72px;
    padding-left:115px;
	color: #505050;
    font-size:45px;
    white-space:nowrap;
    overflow:hidden;
}

.plan {
	background-color: white;
}

.histoire {
	padding: 5px;
	border-radius: 25px;
	background-color: #505050;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 1px solid black;
}

.histoire2 {
	margin: 15px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-indent: 2em;
	margin: 1em;
}

.box {
	background-color: #505050;
	border-radius: 6px;
}

.table-col2 {
	padding: 1em;
}

.caption-C {
	color: #F7AF3E;
	background-color: #505050;
	border-radius: 10px;
	opacity: 0.75;
}

.nav_histoire {
	background-color: #505050;
	padding: 25px;
	border: 1px solid black;
	border-radius: 10px;
}

.button-more {
	background-color: #333333;
	border: 1px solid white;
}

.footer {
	bottom: 0;
	height: 6em;
	width: 100%;
	background-color: #505050;
	padding-top: 5px;
	margin-top: 1%;
}

.image-footer img {
	padding-right: 50px;
	height: 5em;
}

.item-footer {
	padding-top: 5px;
}

.caption {
	height: 130px;
	overflow: hidden;
}

.caption h4 {
	white-space: nowrap;
	color: #EA5C0D;
}

.caption p {
	color: #EA5C0D;
}

.thumbnail img {
	width: 75%;
}

.thumbnail {
	padding: 0;
}

.rating {
	padding-right: 10px;
	padding-left: 10px;
	color: #D17581;
}

.bordered {
	background-color: #505050
}

.logo-social {
	font-size: 25px;
}

footer .footer-above {
	background-color: #505050;
	padding-top: 50px;
	margin-top: .5rem;
	padding-bottom: 5rem;
}

.btn-social {
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	display: inline-block;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
}

.social>li>a {
	color: white;
}

.social>li>a:hover {
	color: #505050;
	background-color: white;
}

/*============ STYLE ID ============*/

#titre_lien {
	text-decoration: none;
	color: #B94503;
	font-family: Dyno_Regular;
	font-size: 64px;
}

/*============ MEDIA QUERIES ============*/

@media screen and (max-width: 970px) {
	.caption-C {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.image-footer img {
		justify-content: center;
		float: left;
	}
}

@media(max-width: 767px){
    .transit {
        background: initial;
        min-height: 50px;
        line-height: 50px;
        font-size: 35px;
        height: auto;
        overflow: initial;
        white-space: initial;
		color: #505050;
        padding : 10px;
        text-align:center;
        background-color: #EA5C0D;
        margin-bottom: 30px;
    }

}

@media(min-width: 767px){
	#monuments{
		margin-left:100px
	}
}