/*============ STYLE FONT ============*/

@font-face {
	font-family: Cicle_Fina;
	src: url(../font/Cicle_Fina.ttf);
}

@font-face {
	font-family: Dyno_Regular;
	src: url(../font/Dyno_Regular.ttf);
}

@font-face {
	font-family: Springtime;
	src: url(../font/Springtime_in_April.ttf);
}

/*============ STYLE GENERAL ============*/

html {
	overflow-x: hidden;
}

header {
	margin-top: 0%;
	padding: 15px;
	margin-bottom: 0px;
}

header>h1 {
	text-align: center;
}

body {
	height: 100%;
	font-family: Cicle_Fina;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Dyno_Regular;
	color: #F7AF3E;
}

a {
	color: #B94503;
}

a:hover {
	color: #EA5C0D;
}

li>a {
	color:  white;
}

li>a:hover {
	color:  #505050;
	text-decoration: none;
}

.nav>li>a {
	font-size: 20px;
}

.nav-stacked>li>a {
	font-size: 20px;
}

.nav-stacked>li>a:hover {
	background-color: #F7AF3E;
}

p {
	font-size: 18px;
}

label {
	font-size: 22px;
}

/*============ STYLE CLASS ============*/

.histoire>p {
	text-indent: 2em;
	margin: 1em;
}

.barre_menu {
	margin-top: 0px;
	font-size: 24px;
	display: flex;
	justify-content: center;
}

.partie {
	margin: 10px;
}

.transit{
    background:url("../images/transition.png");
    background-repeat: no-repeat;
    height:135px;
    line-height:72px;
    padding-left:115px;
	color: #505050;
    font-size:45px;
    white-space:nowrap;
    overflow:hidden;
}

.plan {
	background-color: white;
}

.histoire {
	padding: 5px;
	border-radius: 1rem;
	background-color: #505050;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 1px solid black;
	color: white;
}

.histoire2 {
	margin: 15px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-indent: 2em;
	margin: 1em;
}

.box {
	background-color: #505050;
	border-radius: 6px;
}

.table-col2 {
	padding: 1em;
}

.caption-C {
	color: #F7AF3E;
	background-color: #505050;
	border-radius: 10px;
	opacity: 0.75;
}

.nav_histoire {
	background-color: #505050;
	padding: 25px;
	border: 1px solid black;
	border-radius: 10px;
}

.button-more {
	background-color: #333333;
	border: 1px solid white;
}

/*.footer {
	bottom: 0;
	height: 6em;
	width: 100%;
	background-color: #505050;
	padding-top: 5px;
	margin-top: 1%;
	position: absolute;
}*/

.image-footer img {
	padding-right: 50px;
	height: 5em;
}

.item-footer {
	padding-top: 5px;
}

.caption {
	height: 130px;
	overflow: hidden;
}

.caption h4 {
	white-space: nowrap;
	color: #EA5C0D;
}

.caption p {
	color: #EA5C0D;
}

.thumbnail img {
	width: 75%;
}

.thumbnail {
	padding: 0;
}

.rating {
	padding-right: 10px;
	padding-left: 10px;
	color: #D17581;
}

.bordered {
	background-color: #505050
}

.logo-social {
	font-size: 25px;
}

footer .footer-above {
	background-color: #505050;
	padding-top: 50px;
	margin-top: .5rem;
	padding-bottom: 5rem;
}

.btn-social {
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	display: inline-block;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
}

.social>li>a {
	color: white;
}

.social>li>a:hover {
	color: #505050;
	background-color: white;
}

.indent {
	text-indent: 40px;
}

.cool-box {
	background-color: #505050;
	border: 1px solid #EA5C0D;
}

.flag-lang {
	display: block;
	width: 50%;
	/*float: left;*/
	margin-top: .75rem;
    margin-left: auto;
    margin-right: auto;
}

.att {
	display: block;
	margin: auto;
}

.captionI {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all ease .5s;
	moz transition: all ease .5s;
	webkit transition: all ease .5s;
	background-color: rgba(25, 25, 25, 0.5);
}

.captionI:hover {
	opacity: 1;
}

.caption-content {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.link {
	color: #EA5C0D;
}

.info-id {
	background-color: #505050;
}

.info-id p {
	color: white;
}

.panel-default>.panel-heading {
	color: white;
	background-color: #232323;
	border-color: #DDD;
}

.button-hist {
	margin-left: 45%;
	font-size: 24px;
}

.part {
	font-size: 40px;
}

/*============ STYLE ID ============*/

#titre_lien {
	text-decoration: none;
	color: #EA5C0D;
	font-family: Springtime;
	font-size: 82px;
}

/*============ MEDIA QUERIES ============*/

@media screen and (max-width: 970px) {
	.caption-C {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.image-footer img {
		justify-content: center;
		float: left;
	}
}

@media(max-width: 767px){
    .transit {
        background: initial;
        min-height: 50px;
        line-height: 50px;
        font-size: 35px;
        height: auto;
        overflow: initial;
        white-space: initial;
		color: #505050;
        padding : 10px;
        text-align:center;
        background-color: #EA5C0D;
        margin-bottom: 30px;
    }

}

@media(min-width: 767px){
	#monuments{
		margin-left:100px
	}
}

@media screen and (max-width: 992px) {
	.flag-lang {
		width: 10%;
		float: left;
		margin-right: 5%
	}

	#first-lang {
		margin-left: 35%
	}
}

@media screen and (max-width: 480px) {
	.flag-lang {
		width: 25%;
		float: none;
		margin: auto;
	}
	#first-lang {
		margin: auto;
		margin-bottom: 1%;
	}
}